﻿@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500&display=swap');

@font-face {
    font-family: 'stampwriter-kitregular';
    src: url('stampwriter-kit-webfont.woff2') format('woff2'), url('stampwriter-kit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background: black;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace !important;
    color: #3f3;
    text-shadow: 0px 0px 6px rgba(51, 255, 51, 0.7);
    font-size: 1em;
}

.options {
    position: absolute;
    top: 0px;
    right: 15%;
}

.options-btn {
    background-color: transparent;
    border: 0px;
    padding: 0px;
    color: #2a2;
    font-family: 'IBM Plex Mono', monospace !important;
    font-size: 1em;
    cursor: pointer;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    width: 80vw;
    height: 100vh;
    margin: auto;
}

.flex-item:nth-child(1) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    white-space: pre-wrap;
    margin-bottom: 1em;
    word-wrap: anywhere;
}

.flex-item:nth-child(2) {
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
}

    .flex-item:nth-child(2) .prompt {
        order: 0;
        flex: 0 1 auto;
        align-self: auto;
    }

    .flex-item:nth-child(2) .input {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        word-wrap: anywhere;
    }

span.blinker {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

span.written {
    font-family: 'stampwriter-kitregular';
}
