﻿
@using MomentaryMeeting.Models
@using MomentaryMeeting.Services
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Identity
@inject IDatabaseApi DbApi
@inject SignInManager<UserModel> SignInManager
@{ Layout = null; }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Momentary Meeting</title>
    <meta name="keywords" content="multiplayer, text adventure, video game, global game jam">
    <meta name="description" content="A multiplayer text adventure. A Momentary Meeting is about exploring an ever-changing world, and the fleeting interactions you have with other people along the way.">
    <meta property="og:title" content="A Momentary Meeting">
    <meta property="og:url" content="https://moment.redpoint.games/">
    <meta property="og:image" content="https://moment.redpoint.games/logo_favicon.png">
    <meta property="og:description" content="A multiplayer text adventure. A Momentary Meeting is about exploring an ever-changing world, and the fleeting interactions you have with other people along the way.">
    <meta name="twitter:card" content="summary">
    <meta property="twitter:title" content="A Momentary Meeting">
    <meta name="twitter:image" content="https://moment.redpoint.games/logo_favicon.png">
    <meta property="twitter:description" content="A multiplayer text adventure. A Momentary Meeting is about exploring an ever-changing world, and the fleeting interactions you have with other people along the way.">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#000000">
</head>
<body>
    <div class="flex-container">
        <div class="flex-item" id="present">
        </div>
        <div class="flex-item" id="input_bar" style="display: none"><div class="prompt">&gt;&nbsp;</div><div class="input"><span id="input"></span><span class="blinker">_</span></div></div>
        <div class="options"><button class="options-btn" id="text_speed" onclick="cycleThroughTextSpeeds();">Text speed: normal</button></div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/howler.min.js"></script>
    <script type="text/javascript">
        @{
            var user = SignInManager.IsSignedIn(Context.User) ? await SignInManager.UserManager.GetUserAsync(Context.User) : null;
        }
        @if (user != null)
        {
            <text>window.authenticated = true;</text>
            <text>window.globalTextVariables = @Html.Raw(JsonConvert.SerializeObject(DbApi.Current.GlobalText.CloneWithUsernameReplacement(user.Username)));</text>
        }
        else
        {
            <text>window.authenticated = false;</text>
            <text>window.globalTextVariables = @Html.Raw(JsonConvert.SerializeObject(DbApi.Current.GlobalText));</text>
        }
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>